TEAM_ID=

PRODUCT_NAME=TeddReader
PRODUCT_BUNDLE_IDENTIFIER=com.tedd.teddreader.TeddReader$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

GOOGLE_DRIVE_IOS_CLIENT_ID=YOUR_GOOGLE_DRIVE_IOS_CLIENT_ID.apps.googleusercontent.com
GOOGLE_DRIVE_IOS_URL_SCHEME=com.googleusercontent.apps.YOUR_GOOGLE_DRIVE_IOS_CLIENT_ID
GOOGLE_DRIVE_IOS_REDIRECT_URI=$(GOOGLE_DRIVE_IOS_URL_SCHEME):/oauthredirect
