TEAM_ID=ZVG3M82ZGP

PRODUCT_NAME=TeddReader
PRODUCT_BUNDLE_IDENTIFIER=com.tedd.teddreader.TeddReader$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

GOOGLE_DRIVE_IOS_CLIENT_ID=308193602832-rrs7lnn2id6kks11gfcm57m2cglpta15.apps.googleusercontent.com
GOOGLE_DRIVE_IOS_URL_SCHEME=com.googleusercontent.apps.308193602832-rrs7lnn2id6kks11gfcm57m2cglpta15
GOOGLE_DRIVE_IOS_REDIRECT_URI=$(GOOGLE_DRIVE_IOS_URL_SCHEME):/oauthredirect
